<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header class="topheader">
    <%- include('../partials/header'); %>
  </header>
  <img class="hero-banner" src="assets/herobanner.jpeg" alt="hero-image">
  <h2 class="subtitle"> Boutique de Orquideas. <br> Somos una tienda dedicada a cultivar felicidad.</h2>
  <div class="articles-container">
    <div class="article">
      <h2>
        <%= product.nombre %>
      </h2>
      <div class="flex">
        <img class="img-product" src=<%=product.foto%>>
        <p class="detail-product"> <%=product.descripcion%> <br><br> $ <%=product.precio%></p>
      </div>
      <button class="buy"><span class="icon-basket"><a href="#carrito" onclick="addToCart()"> COMPRAR </a></span>
      </button>
    </div>
  </div>
  <br>
  <br>
</body>
<footer>
  <%- include('../partials/footer'); %>
</footer>
<script>
  async function addToCart(params) {
    const products = JSON.parse(localStorage.getItem('cart'));
    var test = '<%- JSON.stringify(product) %>';
    const product = JSON.parse(test);
    product.quantity = 1;
    const prod = new Array(product);
    const prodsString = JSON.stringify(prod);

    console.log({products, product, prod, prodsString})
    if (products) {
      if (!products?.find((prod) => product.id === prod.id)) {
        const all = products.concat(product)
        const prodString = await JSON.stringify(all);
        window.localStorage.setItem('cart', prodString);
      }
    } else {
      window.localStorage.setItem('cart', prodsString);
    }

    window.location.href = window.location.origin + '/carrito';
  }
</script>

</html>